@import "./customize.scss";

$unit: 8px;

@mixin gradient-background($value) {
    // Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient($value);
    // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: linear-gradient($value);
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    @include gradient-background((to right, #323138, #2a292f));
}

.co2-app-search {
    margin-top: $unit * 4;   
}

.co2-app-container {
    margin: $unit * 2 auto;
    max-width: 700px;
    @media (max-width: 768px) {
        max-width: 90%;
    }
}

.co2-app-center-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.co2-app-chart-container {
    margin: 0 auto !important;
}

.co2-app-chart-tooltip {
    padding: $unit * 2;
    opacity: 0.95;
}

.co2-app-chart-tooltip-item {
    padding: $unit;
    text-align: center;
}

.co2-app-scroll-top {
    $duration: 300ms;
    position: fixed !important;
    bottom: $unit;
    right: $unit;
    opacity: 1;
    visibility: visible;
    transition: opacity $duration ease-in-out, visibility $duration linear !important;
    &[hidden=""] {
        opacity: 0;
        visibility: hidden;
    }
}