@import "./customize.scss";

$unit: 8px;

@mixin gradient-background($value) {
    // Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient($value);
    // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: linear-gradient($value);
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    @include gradient-background((to right, #323138, #2a292f));
}

.co2-app-search {
    margin-top: $unit * 4;   
}

.co2-app-container {
    margin: $unit * 2 auto;
    max-width: 700px;
    @media (max-width: 768px) {
        max-width: 90%;
    }
}

.co2-app-center-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.co2-app-chart-tooltip {
    padding: $unit * 2;
    opacity: 0.95;
}

.co2-app-chart-tooltip-item {
    padding: $unit;
    text-align: center;
}

.co2-app-scroll-top {
    $duration: 300ms;
    position: fixed !important;
    bottom: $unit;
    right: $unit;
    opacity: 1;
    visibility: visible;
    transition: opacity $duration ease-in-out, visibility $duration linear !important;
    &[hidden=""] {
        opacity: 0;
        visibility: hidden;
    }
}

.co2-app-chart-options {
    display: flex;
    align-items: center;
}

.co2-app-data-table-container {
    margin-bottom: 2 * $unit;
}

/**
 * This should point to the same element the class above
 * but since material-ui creates papers in an unexpected way
 * it has to be selected by the way it is located in the DOM
 */
.co2-app-chart-options ~ div:last-child {
    padding-bottom: 4 * $unit;
}

.co2-app-data-table {
    @media (max-width: 768px) {
        /**
         * Prevent table overflow on mobile
         */
        table-layout: fixed;
    }
}

.co2-app-chart-container {
    @media (max-width: 768px) {
        /**
         * Hide the container in case user is on mobile
         * (clearer layout)
         */
        background: transparent !important;
    }
}